.square, .so_late {

    width: 150px;
    height: 150px;
    font-size: 120pt;
    text-align: center;
}

.value{
    top: -50px;
    width: 150px;
    height: 150px;
}

.table {
    width: 450px;
    height: 450px;
}

.col-sm-4{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#index_00{
    border-right: solid 3px #000000;
    border-bottom: solid 3px #000000;
}

#index_01{
    border-right: solid 3px #000000;
    border-left: solid 3px #000000;
    border-bottom: solid 3px #000000;
}


#index_02{
    border-left: solid 3px #000000;
    border-bottom: solid 3px #000000;
}

#index_10{
    border-right: solid 3px #000000;
    border-bottom: solid 3px #000000;
    border-top: solid 3px #000000;
}

#index_11{
    border-right: solid 3px #000000;
    border-left: solid 3px #000000;
    border-bottom: solid 3px #000000;
    border-top: solid 3px #000000;
}


#index_12{
    border-left: solid 3px #000000;
    border-bottom: solid 3px #000000;
    border-top: solid 3px #000000;
}

#index_20{
    border-right: solid 3px #000000;
    border-top: solid 3px #000000;
}

#index_21{
    border-right: solid 3px #000000;
    border-left: solid 3px #000000;
    border-top: solid 3px #000000;
}


#index_22{
    border-left: solid 3px #000000;
    border-top: solid 3px #000000;
}